.about {

  &__container {
    display: flex;    
    gap: 120px;

    @include desktop1100 {
      flex-direction: column-reverse;
      gap: 80px;
      align-items: center;
    }
    @include mobile400 {
      gap: 42px;
      // padding-bottom: 42px;
    }
  }

  &__img {        
    margin-left: 14.5%;    

    @include desktop1100 {
      margin-left: 0;
    }

    @include mobile400 {
      max-width: 260px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 25px;    
    max-width: 430px;    

    @include desktop1100 {
      max-width: 80%;
    }

    @include tablet780 {
      max-width: 430px;    
    }

    @include mobile550 {
      align-items: center;
      width: 100%;
    }

    @include mobile400 {
      gap: 22px;
    }
  }

  &__title {
    max-width: 350px;
    padding-top: 14px;    

    @include desktop1100 {
      padding-top: 0;
    }
    @include mobile550 {
      text-align: center;
      width: 100%;  
    }
    @include mobile400 {      
      width: 80%;  
      margin-bottom: 3px;
      padding-left: 1px;      
    }

  }

  &__text {
    font-family: Arial, sans-serif;    
    font-size: 15px;
    line-height: 24px;
    color: $color-dark-xl; 

    @include mobile480 {
      text-align: justify;
      padding-left: 14px;
      padding-right: 14px;

     
    }
  }


}