@mixin button($width, $heigth, $color, $border-color, $border-width) {
  width: $width;
  height: $heigth;
  background-color: $color;
  border-radius: 100px;
  font-size: 17px;
  color: $color-dark-3xl;
  letter-spacing: 1px;
  border-color: $border-color;
  border-width: $border-width;
  border-style: solid;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: $color-primary-light;
  border-color: $color-primary-light;
}
