.friends {
  background-color: $color-light-l;      

  &__container {
 
  }

  &__inner {
    border: 1px solid red;
    position: relative;
  }
  &__wrap {    
    width: 990px;
    margin-bottom: 60px;
    // align-items: center;
    // justify-content: space-between;    
    overflow: hidden;   
    margin-left: auto;
    margin-right: auto;    
    // border: 5px solid red;

    @include desktop1279 {
      justify-content: center;
      gap: 20px;
    }
    @include desktop1000 {      
      gap: 10px;
    }

    @include tablet760 {      
      margin-bottom: 112px;
    }
  }


  &__title {
    max-width:  400px;
    margin: 0 auto;
    margin-bottom: 60px; 
    text-align: center;

    @include mobile480 {
      font-size: 25px;
      line-height: 33px;
      margin-bottom: 42px;      
    }
  }

  
  &__list {
    position: relative;
    left: -1080px;
    display: flex;
    gap: 90px;
    justify-content: space-between;
    width: 500px;                    
    flex-wrap: nowrap;         

    @include desktop1279 {
      // width: 700px;  
      // gap: 11vw;
      // justify-content: center;
      // justify-content: flex-start;      
      
    }
    @include desktop1000 {
      max-width: 580px;  
      gap: 5.2vw;
      // justify-content: flex-start;      
      
    }


    @include tablet760 {      
      max-width: 270px;
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;  
    gap: 90px;         
    width: 990px;
  }

  &__button {
    @include button(261px, 52px, $color-primary, $color-primary, 1px);
    display: flex;
    margin: 0 auto;    
    align-items: center;
    justify-content: center;
  }

}

.pagination {  
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32%;
  background-image: url("../img/Arrow.svg");
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  top: 50%;  

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &_left {
    // position: absolute;   
    left: 0; 
    // transform: translateY(-50%);   
    
    @include desktop1279 {      
      // transform: translateX(50px);
    }


    @include tablet760 {
      // top: 80%;
      // left: 30%;
    }
    @include mobile400 {

      // left: 21%;
    }
  }

  &_right {    
    // position: absolute;    
    right: 0;
    transform: rotate(180deg);

    // @include desktop1279 {      
    //   padding-left: 0;
    //   padding-right: 0;
    // }

    
    // @include tablet850 {
    //   transform: rotate(180deg) translate(30px, 13%);
    // }

    // @include tablet760 {
    //   top: 80%;
    //   right: calc(30% - 30px);
    // }
    // @include mobile400 {
      
    //   right: calc(21% - 30px);
    // }
  }
}

.pet-friends {

  @include tablet850 {
    padding-bottom: 77px;
  }

  @include mobile400 {
    padding-top: 40px;
    padding-bottom: 45px;
  }


  .friends__title {
    @include tablet850 {
      margin-bottom: 30px;
    }

    @include mobile400 {
      margin-bottom: 42px;
    }
    
  }

  .friends__list {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    row-gap: 29px;

    @media (max-width: 1279px) {
      max-height: 1368px;
      max-width: 850px;
      overflow-y: hidden;            
      justify-content: space-evenly;
    }

    @include tablet850 {
      max-width: 580px;
      margin-bottom: 35px;
    }
  }
}

.pagination-group {
  display: flex;
  gap: 20px;
  justify-content: center;

  @include mobile480 {
    gap: 10px
  }
}
.pets-pagination {  

  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:disabled {
    border-color: $color-dark-s;
    color: $color-dark-s;
    cursor: default;
}

  &:not([disabled]):hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
  &:not([disabled]):active {
    background-color: $color-primary;
    border-color: $color-primary;
  }


  // &__start {    
  //   border-color: $color-dark-s;
  //   color: $color-dark-s
  // }

  // &__next {
  //   border-color: $color-dark-s;
  //   color: $color-dark-s
  // }

  &__current {
    font-size: 20px;
    background-color: $color-primary;
    color: $color-dark-3xl;
  }

  &__prev {
    transform: rotate(180deg);
    border-color: $color-primary;
    color: $color-dark-3xl;
  }
  &__end {
    transform: rotate(180deg);
    border-color: $color-primary;
    color: $color-dark-3xl;
  }
}

.move_right {
  animation: right 1s;

}

.move_left {
  animation: left 1s;

}

@keyframes right {
  from {left: -1080px}
  to {left: 0}
}

@keyframes left {
  from {left: -1080px}
  to {left: -2070px}
}
