.friend-card {  
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  background-color: $color-light-s;  
  border-radius: 9px;   
  padding-bottom: 30px;  
  width: 270px;
  flex-shrink: 0;  
  transition: background-color 0.3s ease;
  border: 1px solid red;
  cursor: pointer;

  &:hover{
    background-color: $color-light;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  } 
  &:hover >&__button{
    background-color: $color-primary-light;
  border-color: $color-primary-light;
    
  } 

  &__img {
    border-radius: 9px 9px 0 0; 
  }

  &__title {
    font-size: 20px;
    color: $color-dark-l;   
  }

  &__button {
    @include button (187px, 52px, transparent, $color-primary, 2px);
    margin: 0 auto;
    letter-spacing: 2px;
  }

}