.friends {
  background-color: $color-light-l;      

  &__inner {
    border: 1px solid transparent;
    position: relative;
  }

  &__wrap {    
    width: 990px;
    margin-bottom: 60px;    
    overflow: hidden;   
    margin-left: auto;
    margin-right: auto;        

    @include desktop1200 {      
      width: 580px;

    }

    @include tablet760 {      
      margin-bottom: 112px;
    }
    @include tablet650 {      
      width: 270px;
    }
  }


  &__title {
    max-width:  400px;
    margin: 0 auto;
    margin-bottom: 60px; 
    text-align: center;

    @include mobile480 {
      font-size: 25px;
      line-height: 33px;
      margin-bottom: 42px;      
    }
  }

  &__list {
    position: relative;
    left: -1080px;
    display: flex;
    gap: 90px;
    width: 100%;              
    flex-wrap: nowrap;         

    @include desktop1200 {
        gap: 40px;
    }
    
    @include tablet650 {
      gap: 0;
    }
  }

  &__item {
    display: flex;  
    gap: 90px;         

    @include desktop1200 {
      gap: 40px;
    }
  }

  &__button {
    @include button(261px, 52px, $color-primary, $color-primary, 1px);
    display: flex;
    margin: 0 auto;    
    align-items: center;
    justify-content: center;
  }

}

.pagination {  
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32%;
  background-image: url("../img/Arrow.svg");
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  top: calc(50% - 30px);   // половина от magrin-bottom

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &_left {
    left: 0;   
    transform: translateY(-50%);

    @include desktop1200 {
      left: 5vw;
    }
    @include desktop1000 {
      left: 0
    }

    @include tablet760 {
      top: 87%;
      left: 32%;
    }
    @include mobile400 {
      left: 20%;      
    }
  }

  &_right {    
    right: 0;    
    transform: rotate(180deg) translateY(50%);

    @include desktop1200 {
      right: 5vw;
    }
    @include desktop1000 {
      right: 0
    }

    @include tablet760 {
      top: 87%;
      right: 32%;
    }
    @include mobile400 {
      right: 20%;      
    }
  }
}

.pet-friends {

  @include tablet850 {
    padding-bottom: 77px;
  }

  @include mobile400 {
    padding-top: 40px;
    padding-bottom: 45px;
  }


  .friends__title {
    @include tablet850 {
      margin-bottom: 30px;
    }

    @include mobile400 {
      margin-bottom: 42px;
    }
    
  }

  .friends__list {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    row-gap: 29px;

    @media (max-width: 1279px) {
      max-height: 1368px;
      max-width: 850px;
      overflow-y: hidden;            
      justify-content: space-evenly;
    }

    @include tablet850 {
      max-width: 580px;
      margin-bottom: 35px;
    }
  }
}

.pagination-group {
  display: flex;
  gap: 20px;
  justify-content: center;

  @include mobile480 {
    gap: 10px
  }
}
.pets-pagination {  

  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:disabled {
    border-color: $color-dark-s;
    color: $color-dark-s;
    cursor: default;
}

  &:not([disabled]):hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
  &:not([disabled]):active {
    background-color: $color-primary;
    border-color: $color-primary;
  }


  // &__start {    
  //   border-color: $color-dark-s;
  //   color: $color-dark-s
  // }

  // &__next {
  //   border-color: $color-dark-s;
  //   color: $color-dark-s
  // }

  &__current {
    font-size: 20px;
    background-color: $color-primary;
    color: $color-dark-3xl;
  }

  &__prev {
    transform: rotate(180deg);
    border-color: $color-primary;
    color: $color-dark-3xl;
  }
  &__end {
    transform: rotate(180deg);
    border-color: $color-primary;
    color: $color-dark-3xl;
  }
}

.move_right990 {
  animation: right990 1s;
}
.move_left990 {
  animation: left990 1s;
}
@keyframes right990 {
  from {left: -1080px}
  to {left: 0}
}

@keyframes left990 {
  from {left: -1080px}
  to {left: -2070px}
}

.move_right700 {
  animation: right700 1s;
}
.move_left700 {
  animation: left700 1s;
}
@keyframes right700 {
  from {left: -620px}      
  to {left: 0}
}
@keyframes left700 {
  from {left: -620px}   
  to {left: -1240px}
}


.move_right270 {
  animation: right270 1s;
}
.move_left270 {
  animation: left270 1s;
}
@keyframes right270 {
  from {left: -270px}
  to {left: 0}
}
@keyframes left270 {
  from {left: -270px}
  to {left: -540px}
}