.header {  

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

    @include mobile550{
      gap: 40px;    
    }
  }
    
}

.header-logo {
  @include mobile400{      
    margin-left: 10px;    
  }
}

.header-nav {
  margin-top: -5px;
  text-align: right;
}

.header__btn {
  margin-right: 10px;
}

.pets-header {
  position: static;
  background-color: $color-light;
  padding-top: 30px;
  padding-bottom: 30px;
}