.help {
  
  &__title {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;

    @include mobile400 {
      max-width: 250px;
      margin-bottom: 42px;
    }
  }
  
  &__list {

    display: grid;
    grid-template-columns: repeat(20, minmax(max-content, 1fr));       
    grid-auto-flow: dense; 
    row-gap: 56px;
    column-gap: 20px;
    justify-items: center;    

    @include desktop1100 {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 55px;
    }
    @include tablet760 {
      grid-template-columns: 1fr 1fr;
      row-gap: 55px;
    }

    @include mobile400 {
      row-gap: 30px;
    }
  }
  &__item {
    
  }
  &__item.help-card_food {
    grid-column: 1 / 5;
    grid-row: 1 / 1;
    padding-left: 10px;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-left: 24px;
    }
  }
  &__item.help-card_transport {
    grid-column: 5 / 9;
    grid-row: 1 / 1;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
    }
  }

  &__item.help-card_toys {
    grid-column: 9 / 13;
    grid-row: 1 / 1;
    padding-right: 14px;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-right: 25px;
    }
  }
  &__item.help-card_bowls {
    grid-column: 13 / 16;
    grid-row: 1 / 1;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-left: 26px;
    }

  }
  &__item.help-card_shampoo {
    grid-column: 17 / 20;
    grid-row: 1 / 1;
    padding-left: 20px;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-right: 20px;
    }

  }
  &__item.help-card_vitamin {
    grid-column: 1 / 8;
    grid-row: 2 / 2;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-right: 25px;
    }
    
  }
  &__item.help-card_medicine {
    grid-column: 7 / 10;
    grid-row: 2 / 2;
    padding-right: 40px;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-left: 60px;
    }
  }

  &__item.help-card_collars {
    grid-column: 11 / 14;
    grid-row: 2 / 2;
    padding-right: 10px;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-left: 10px;
    }
  }
  &__item.help-card_sleep {
    grid-column: 14 / 20;
    grid-row: 2 / 2;

    @include desktop1100 {
      grid-column: auto;
      grid-row: auto;
      padding-right: 25px;
    }

  }
  
}

$helpImages: food, transport, toys, bowls, shampoo, vitamin, medicine, collars, sleep;

    @each $helpImage in $helpImages {

      .help__item.help-card_#{$helpImage} {
        @include tablet760 {        
          padding-left: 0;
          padding-right: 0;        
        }               
      }  
    }