.menu-btn {
  display: none;
  position: sticky;
  z-index: 10;  
  transition: transform 0.5s ease-in-out;  

  @include tablet767 {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 23px;
    justify-content: space-between;
    background-color: transparent;
    border: none;
  }

  &__dash {
    display: block;
    width: 100%;    
    height: 2px;    
    background-color: $color-primary;

    &_pets {
      background-color: #000;
      transition: background-color 1s ease;

    }

    &_pets-active {
      background-color: $color-primary;
    }
  }

  &_active {
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    
  }
}