.not-only {    
  background: url('../img/bgcrap.png'), 
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
 
  
  padding-top: 175px;
  

  @include desktop1100 {
    padding-top: 152px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include desktop1100 {
      flex-direction: column;
      align-items: center;
    }

    @include tablet650 {
      // align-items: center;
    }
  }

  &__content {
    max-width: 460px;
    font-weight: 400;    
    color: $color-dark-s;
    margin-top: 169px;    
    
    @include desktop1100 {
      margin-top: 0;
    }

    @include tablet650 {
      max-width: 80%; 
      text-align: center;
    }
    @include mobile550 {
      max-width: 100%; 
      text-align: center;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: $color-light;    
    max-width: 310px;
    margin-bottom: 41px;

    @include tablet650 {
      max-width: 85%;       
    }
    @include mobile550 {
      max-width: 53%;  
      font-size: 25px;  
      line-height: 30px;  
      word-spacing: 2px;
      margin-left: 12px;
      letter-spacing: 1px; 
      margin: 0 auto 44px;      
    }
    @include mobile480 {
      max-width: 60%;        
    }
    @include mobile400 {
      max-width: 65%;        
    }
  }

  &__text {    
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 42px;



  }

  &__button {
    @include button(207px, 52px, $color-primary, $color-primary, 1px);
      display: flex;
      align-items: center;
      justify-content: center;

    @include desktop1100 {      
      margin: 0 auto 100px;                  

    }
  }

  &__img-box  {
    margin-top: 5px;    
    @include tablet850 {
      margin-top: 0;
      margin-left: 140px;
    }
    @include mobile480 {
      margin-top: 5px;   
      margin-left: 40px;
    }
  }

  &__img {
    display: block;
    
  }


}
// url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;

