$color-primary: #F1CDB3;
$color-light: #ffffff;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;

@mixin fonts($name, $file-name, $width, $style) {
  font: {
    family: $name;        
    style: $style
  }
  width: $width;
  src: local($name),
  url('../fonts/#{$file-name}.woff2') format('woff2'),
  url('../fonts/#{$file-name}.woff') format('woff');
}

@mixin desktop1100 {
  @media(max-width: 1100px) {
    @content;
  }
}

@mixin tablet850 {
  @media(max-width: 850px) {
    @content;
  }
}

@mixin tablet650 {
  @media(max-width: 650px) {
    @content;
  }
}

@mixin mobile550 {
  @media(max-width: 550px) {
    @content;
  }
}

@mixin mobile480 {
  @media(max-width: 480px) {
    @content;
  }
}

@mixin mobile400 {
  @media(max-width: 400px) {
    @content;
  }
}